:root {
    --cor-principal: #3347B0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
/* STYLE - Header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-principal);
    padding: 0 96px;
    height: 100px;
    width: 100%;
  
}
.container-logo{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 90%;
    font-size: 30px;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

}
.container-voltar{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 90%;
    font-size: 34px;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
/* STYLE - Main */

main{

   bottom: 0;

}
    /* home -> */
.home{
    display: flex;
    padding: 80px  96px;
    justify-content: space-between;
    align-items: center;
}
.container-titulo{
    display: flex;
    flex-direction: column;
    gap: 64px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.color-blue{
    color: #3347B0;
}
.cursos-buttons{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.desenvolvimento-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-principal);
    height: 200px;
    width: 400px;
    color: white;
    font-size: 60px;
    gap: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    transition:box-shadow 0.3s, transform 0.5s ease;
}
.desenvolvimento-button:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 23, 134, 0.5);
}
.redes-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-principal);
    height: 200px;
    width: 400px;
    color: white;
    font-size: 60px;
    gap: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    transition: transform 0.5s ease;
}
.redes-button:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 23, 134, 0.5);
}
    /* alunos -> */

.alunos{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 40px;

}

.texto-DS {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larges;
}

.card-alunos{
    height: 100%;
    width: 100%;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 300px;
    width: 200px;
    color: aliceblue;
    font-size: 20px;
    
}

/* STYLE - Footer */

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-principal);
    padding: 0 96px;
    height: 140px;
    width: 100%;

}
.container-contatos{
    display: flex;
    gap: 40px;
    color: aliceblue;
    align-items: center;
}
.image-contato{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text-contato{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.copyright{
    display: flex;
    color: aliceblue;
}
.redes-sociais{
    display: flex;
    gap: 20px;
}